.story-title {
    font-family: $font-family-title;
    color: $dark;
}

.story-paragraph {
    font-family: $font-family-serif;
    font-size: 1.25rem;
}

.story-thought {
    color: $secondary;
    font-style: italic;
}

.story-fact {
    color: $gray;
    font-style: italic;
}

.prompt-loading {
    display: none;
}

.list-box {
    flex-grow: 10;
    height: 100%;
    overflow-y: auto;
    border: solid;
    border-color: $secondary;
    border-width: .1rem;
    background-color: $white;
}