.thought-bubble {
    border: solid;
    border-radius: 4rem;
    border-width: .1rem;
    border-color: $thought-bubble-border-color;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: $white;
    list-style-type:none;
    padding-left: 1.5rem;
    padding-right: .5rem;
}

.story-paragraph {
    font-family: $font-family-serif;
    font-size: 1.25rem;
}

.story-thought {
    color: $secondary;
    font-style: italic;
}

.prompt-loading {
    display: none;
}