{% extends "base.html" %}

{% block title %}
Write - {{story.title}}
{% endblock %}

{% block content %}
<div class='row'>
    <div class="col">
        <h2>{{story.title}}</h2>
        <div class='mb-2'>
            {% include 'stories/steps/_list.html' with steps_list=steps_list %}
        </div>
        {% if proposal %}
        {% include 'stories/proposals/_detail.html' with proposal=proposal %}
        {% else %}
        <div>
            <a class='btn btn-primary'>Begin</a>
        </div>
        {% endif %}
    </div>
    <div class="col">
        {% include 'stories/thoughts/_editor.html' with thought_list=thought_list %}
    </div>
</div>
{% endblock %}