{% extends "base.html" %}

{% block title %}
Write - {{story.title}}
{% endblock %}

{% block content %}
<form action="{% url 'stories:update_proposal' proposal.id%}" method="post" class="h-100">
    {% csrf_token %}
    <div class='row h-100'>
        <div class="col d-flex flex-column h-100">
            <h1 class="story-title">{{story.title}}</h1>
            <div class='flex-grow-1 h-100 overflow-auto border-top'>
                {% include 'stories/steps/_list.html' with steps_list=steps_list show_thoughts=False%}
            </div>
            {% include 'stories/proposals/_detail.html' with proposal=proposal %}
        </div>
        <div class="col h-100">
            {% include 'stories/thoughts/_editor.html' with thought_list=thought_list fact_list=fact_list %}
        </div>
    </div>
</form>
{% endblock %}