<div class='card card-body h-100 d-flex flex-column'>
    <h3>Thoughts</h3>
    <div class="flex-grow-1 h-100 overflow-auto">
        {% for thought in thought_list %}
        {% include 'stories/thoughts/_detail.html' with thought=thought %}
        {% endfor %}
    </div>
    <div>
        <form method="post" action="{% url 'stories:add_thought' proposal.id %}">
            {% csrf_token %}
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <textarea style="height: 100px;" type="textarea" name="thought_text" class="form-control"></textarea>
            </fieldset>
            <div class="mt-3">
                <input type="submit" value="Add Thought" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>