<div class='card card-body h-100 d-flex flex-column'>
    <div class="h-50 d-flex flex-column pb-3">
        <div>
            <h4>Long-Term Context</h4>
        </div>
        <p><i>What are important things to keep in mind while telling the story?</i></p>
        <textarea type="textarea" name="facts_text" class="form-control flex-grow-1"
            placeholder="Use line-breaks to add multiple pieces of context">{{proposal.facts_text}}</textarea>
    </div>
    <div class="h-50 d-flex flex-column">
        <div>
            <h4>Reasoning</h4>
        </div>
        <p><i>What should happen next and why?</i></p>
        <textarea type="textarea" name="thoughts_text" class="form-control flex-grow-1"
            placeholder="Use line-breaks to add multiple pieces of reasoning">{{proposal.thoughts_text}}</textarea>
    </div>
</div>