<div class='card card-body'>
    {% if proposal.proposal_text %}
    <p class="story-paragraph">
        {{proposal}}
    </p>
    <div class='d-flex justify-content-center'>
        <a href="{% url 'stories:accept_proposal' proposal.id %}" class='btn btn-primary mx-1'>Accept</a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProposal">
            Edit
        </button>
        <a href="{% url 'stories:reject_proposal' proposal.id %}" class='btn btn-primary mx-1'>New Proposal</a>
    </div>
    {% else %}
    <div class="prompt-loading-hidden multi-collapse">
        <p><b>Add context and reasoning to condition the proposal. For best
                results:</b></p>
        <ul>
            <li>Distinct items should be seperated by a single line-break.</li>
            <li>Use full sentences and proper capitalization.</li>
        </ul>
    </div>
    <div class='d-flex justify-content-center'>
        <div class="spinner-border text-secondary p-3 m-4 prompt-loading" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class='d-flex justify-content-center my-2'>
        <input type="submit" value="Generate Proposal" class='btn btn-primary prompt-loading-hidden' id='prompt-button'>
        <a href="#" class='btn btn-primary disabled prompt-loading'>Generating Proposal...</a>
    </div>
    {% endif %}
</div>