<div class='card card-body p-2'>
    <div class='d-flex justify-content-center'>
        <div class="spinner-border text-secondary p-3 m-4 prompt-loading" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    {% if proposal.proposal_text %}
    <fieldset class='prompt-loading-hidden'>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <textarea style="height: 220px;" type="textarea" name="proposal_text"
            class="form-control">{{ proposal }}</textarea>
    </fieldset>
    <div class='d-flex justify-content-center mt-2'>
        <input type="submit" name="accept" value="Accept" class='btn btn-sm btn-primary mx-1 prompt-loading-hidden'
            id="accept-proposal-button">
        <a href="#" class='btn btn-sm btn-primary disabled mx-1 prompt-loading'>Accepting...</a>
        <input type="submit" name="new_proposal" value="New Proposal"
            class='btn btn-sm btn-primary mx-1 prompt-loading-hidden'>
        <a href="#" class='btn btn-sm btn-primary disabled mx-1 prompt-loading'>New Proposal</a>
    </div>
    {% else %}
    <div class="prompt-loading-hidden">
        <p><b>Add context and reasoning to condition the proposal. For best
                results:</b></p>
        <ul>
            <li>Distinct items should be seperated by a line-break.</li>
            <li>Use full sentences and proper capitalization.</li>
            <li>Use positive statements rather than negative.</li>
        </ul>
    </div>
    <div class='d-flex justify-content-center mb-2'>
        <input type="submit" name="generate_proposal" value="Generate Proposal"
            class='btn btn-sm btn-primary prompt-loading-hidden' id='prompt-button'>
        <a href="#" class='btn btn-sm btn-primary disabled prompt-loading'>Generating Proposal...</a>
    </div>
    {% endif %}
</div>