<div class="modal fade" id="editProposal" tabindex="-1" aria-labelledby="editProposalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{% url 'stories:edit_proposal' proposal.id %}">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Proposal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <fieldset>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        <textarea style="height: 200px;" type="textarea" name="proposal_text"
                            class="form-control">{{ proposal.proposal_text }}</textarea>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>